.rootDivHomePage{
    background-color: azure;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row-reverse;

}
.publicNavContainer{
    background-color: lightblue;
    padding-top: 48px;
    width: 130px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;

}
.publicNavSliderBar{
    height: 100%;
    width: 20px;
    background-color: black;
}

.actionMenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-end;
}